@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Montserrat&display=swap');

.productCard{
    margin: 30px;
}

.productCard img{
    max-width: 170px;
}

.productTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.productPrice{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
}