.Gmenu{
    height: 140px;
    position: fixed; 
    top: 0px; 
    width: 100%;
  
}
#foto img{
    width: 136.75px
}
#foto1 img{
    width: 35px;
    height: 37px;
}
.nameMenu{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}
.lng{
    padding-top: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}