.footer{
  background-color: #f6f6f6;
  padding: 3% 7% 9% 7%;
  color: #000!important;
}

.linkIcon, .linkIcon::after{
  color: #000;
}

.linkIcon:hover{
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px){
  #pdtrm {float: left;}
}