@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
    font-family: "Igrasans";
    src: local("Igrasans"),
    url("../fonts/fonts/Igrasans.ttf") format("truetype");
}

.top_content{
    min-height: 25vw;
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 7.5%;
}

.mainBackground{
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    position: absolute;
    height: 1000px;
}

.mainBackground2{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: 120px;
    width: 100%;
    position: absolute;
    height: 1000px;
}

.mainTitle{
    font-weight: 400;
    font-style: normal;
    font-family: 'Igrasans'!important;
    font-style: normal;
    font-weight: normal;
    font-size: 12vw;
    line-height: 12vw;
    text-align: center;
}

.igraSans{
    font-family: 'Igrasans'!important;
}

.middle{
    background-color: #212121;
}

.middle_content{
    height: 65vw;
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 7.5%;
}

.white_link, .white_link::after{
    text-decoration: none;
}

.white_link:hover{
  opacity: 0.5;
}

.bottom{
    background-color: white;
}

.bottom_content{
    min-height: 25vw;
    color: black;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 5% 7.5% 6% 7.5%;
}

.bottom_grey_content{
    color: black;
    background-color: #f6f6f6;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 0 7.5%;
}

.b2{
    background-color: white!important;
    color: black!important;
}

#background-video{
    width: 100%;
    position: fixed;
    z-index: -1;
}

#but{
    padding: 10 20px;
    width: 200px;
}