.top{
    background-image: url(../../images/16_Дім\ Франка_DJI_0694\ 1.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.top_content{
    min-height: 25vw;
    width: 85%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 7.5% 7.5% 4% 7.5%;
}

/* @import url(https://fonts.googleapis.com/css?family=Igra+Sans); */

.mainTitle{
    /* src: local(''),
    url('../fonts/fonts/Igrasans.ttf') format('ttf');    font-family: 'Igra Sans'; */
    /* src: local('Igra Sans'), local('IgraSans'), url('../fonts/fonts/Igrasans.woff2') format('woff2'), url('../fonts/fonts/Igrasans.woff') format('woff'), url('../fonts/fonts/Igrasans.ttf') format('truetype'); */
    font-weight: 400;
    font-style: normal;
    height: 19vw;
    width: 45%;
    font-family: 'Igra Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9vw;
    line-height: 9vw;
}

.bottom{
    background-color: white;
}

.bottom_content{
    min-height: 25vw;
    width: 85%;
    color: black;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 6.5% 7.5% 7.5% 7.5%;
}

.b2{
    background-color: white!important;
    color: black!important;
}

#background-video{
    width: 100%;
    position: fixed;
    z-index: -1;
}

#but{
    padding: 0 20px;
}