@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Montserrat&display=swap');

a{
    text-decoration: none;
}

body{
    font-family: Montserrat;
}

.container {
    margin-left: '140px';
    margin-right: '140px';
}

h2{
    font-weight: 600;
    font-size: 80px;
    line-height: 64px;
}

.menuLine{
    margin-top: 50px !important;
    margin-bottom: 50px;
    border-bottom: 2px solid #A3A3A3;
}


.filterItem{
    font-weight: 600 !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: -2px !important;
    padding: 5px;
}

.activeFilterItem{
    border-bottom: 2px solid #000000;
    color: #000000;
}

.products{
    margin-top: 40px;
}

.productCard{
    margin: 30px;
}

.productCard img{
    max-width: 170px;
    margin-bottom: 10px;
}

.Title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 28px;
    color: #1C1C1C;
}

.Price{
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #1C1C1C;
}
