@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainContainer{
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 180px;
}

.cartTitle{
    font-style: normal;
    font-family: 'Igrasans'!important;
    font-weight: 400;
    font-size: 76px;
    line-height: 76px;
}

.productsInCart{
    border-top: 4px solid #1C1C1C;
    margin-top: 10px !important;
    padding-top: 30px !important;
}

.CartproductCard{
    border-bottom: 2px solid #C5C5C5;
    margin-bottom: 50px;
    padding-bottom: 10px !important;
}

.productImage{    
    max-width: 90% !important;
}

.productName{
    font-family: 'Igrasans'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

.productDeleteContainer{
    text-align: right;
    margin-top: 15px !important;
}

.productDelete:hover{
    text-decoration: underline;
}

.productDelete{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    margin-left: 5px;;
}

.deleteIcon{
    margin-top: -10px;
}

.totalPrice{
    font-weight: 600;
    font-size: 30px;
    text-align: right;
}

.orderContainer a{
    color: white;
    text-decoration: none;
}

.orderButton{
    background-color: black;
    border-radius: 35px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: 370px;
}

.orderContainer{
    float: right;
}

.productCounter{
    text-align: right !important;
    font-size: 30px;
}

.productCount{
    border: 2px solid #C5C5C5;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.minusProduct{
    font-size: 40px;
}


.plusProduct{
    font-size: 40px;
}